[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "*"
Flask = "*"
ipdb = "*"
behave = "*"
"psycopg2" = "*"
Flask-Script = "*"
Flask-Session = "*"
Flask-Migrate = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy-ImageAttach = "*"

[dev-packages]

[requires]
python_version = "3.6"
