<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark navbar_css">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if current_user.is_authenticated %}
      <li class="nav-item" id="home">
        <a class="nav-link" href="/login/">
          <i class="fa fa-home"></i>
          Página Inicial
          <span class="sr-only">(current)</span>
          </a>
      </li>
      {% if current_user.is_adm %}
      <li class="nav-item" id="perfil">
        <a class="nav-link" href="/restaurants/profile/">
          <i class="fas fa-user"></i>
          {{ current_user.nome }}
          <span class="sr-only">(current)</span>
          </a>
        </li>
      {% else%}
      <li class="nav-item" id="perfil">
        <a class="nav-link" href="#">
          <i class="fas fa-utensils"></i>
          Vizualizar meus pedidos
          <span class="sr-only">(current)</span>
          </a>
        </li>
      {% endif %}
      <li class="nav-item" id="logout">
        <a class="nav-link" href="/">
          <i class="fas fa-sign-out-alt"></i>
          Sair
          <span class="sr-only">(current)</span>
          </a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
