<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-4">
        <div class="form-row">
          <div class="md-form mb-4 col-md-6">
            <input type="text" id="username" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-name">Nome</label>
          </div>
          <div class="md-form mb-4 col-md-6">
            <input type="email" id="user_mail" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
          </div>
        </div>
        <div class="form-row">
          <div class="md-form mb-4 col-md-6">
            <input type="password" id="user_pwd1" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Senha</label>
          </div>
          <div class="md-form mb-4 col-md-6">
            <input type="password" id="user_pwd2" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Confirmar Senha</label>
          </div>
        </div>
        <div class="form-row">
          <div class="md-form mb-4 col-md-6">
            <input type="text" id="neigh" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Bairro</label>
          </div>
          <div class="md-form mb-4 col-md-6">
            <input type="text" id="city" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Cidade</label>
          </div>
        </div>
        <div class="form-row">
          <div class="md-form mb-4 col-md-6">
            <input type="text" id="street" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Rua</label>
          </div>
          <div class="md-form mb-4">
            <input type="text" id="num" class="form-control validate" size="4">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Número</label>
          </div>
        </div>
        <div class="md-form mb-4">
          <input type="text" id="complement" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Complemento</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange" id="meu_btn" onclick="confirm_dialog()">Sign up</button>
      </div>
    </div>
  </div>
</div>
<script>
let pwd_validator = () => {
  let pwd_1 = document.getElementById('user_pwd1').value;
  let pwd_2 = document.getElementById('user_pwd2').value;
  return pwd_1 == pwd_2;
}

let fetch_request = () => {
  name = document.getElementById('username').value;
  email = document.getElementById('user_mail').value;
  pwd1 = document.getElementById('user_pwd1').value;
  pwd2 = document.getElementById('user_pwd2').value;
  neigh = document.getElementById('neigh').value;
  city = document.getElementById('city').value;
  street = document.getElementById('street').value;
  num = document.getElementById('num').value;
  complement = document.getElementById('complement').value;

  if(name == "" || email == "" || pwd1 == "" || pwd2 == ""
    || neigh == "" || city == "" || street == "" || num == ""){
    $.notify('Preencha todos os campos', "error")
    return;
  }
  if(pwd_validator()){
    fetch('/register/new_user/', {
      method: 'post',
      credentials: 'include',
      body: JSON.stringify({
        "name": name,
        "email": email,
        "pwd": pwd2,
        "neigh": neigh,
        "city": city,
        "street": street,
        "num": num,
        "complement": complement
      })
    }).then(response => response.json())
      .then(json =>{
        if(json['result'] == 'Usuário inserido com sucesso.'){
          $.notify(json['result'], 'success');
          $('#register_modal').modal('hide');
          return;
        }
        $.notify(json['result'], "error");
        return;
      }).catch(err => { console.error(err) })
  return;
  }
  $.notify("Senha Incorreta", "error")
}

let confirm_dialog = () =>{
    $.confirm({
      title: 'Confirmação',
      content: 'Confirmar criação de novo usuario?',
      buttons: {
        confirm: function () {
          fetch_request()
        },
        cancel: function () {
          $.notify("Cadastro Cancelado", "error")
        }
      }
    });
}
</script>
