<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
          <input type="text" id="username" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
        </div>
        <div class="md-form mb-4">
          <input type="email" id="user_mail" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
        </div>
        <div class="md-form mb-4">
          <input type="password" id="user_pwd1" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
        </div>
        <div class="md-form mb-4">
          <input type="password" id="user_pwd2" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Confirm password</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange" onclick="fetch_request()">Sign up</button>
      </div>
    </div>
  </div>
</div>
<script>
let pwd_validator = () => {
  let pwd_1 = document.getElementById('user_pwd1').value;
  let pwd_2 = document.getElementById('user_pwd2').value;
  return pwd_1 == pwd_2;
}

let fetch_request = () => {
  name = document.getElementById('username').value;
  email = document.getElementById('user_mail').value;
  pwd1 = document.getElementById('user_pwd1').value;
  pwd2 = document.getElementById('user_pwd2').value;
  if(name == "" || email == "" || pwd1 == "" || pwd2 == ""){
    $.notify('Preencha todos os campos', "error")
    return;
  }
  if(pwd_validator()){
    fetch('/register/new_user/', {
      method: 'post',
      credentials: 'include',
      body: JSON.stringify({
        "name": name,
        "email": email,
        "pwd": pwd2
      })
    }).then(response => response.json())
      .then(json =>{
        if(json['result'] == 'Usuário inserido com sucesso.'){
          $.notify(json['result'], 'success');
          $('#register_modal').modal('hide');
          return;
        }
        $.notify(json['result'], "error");
        return;
      }).catch(err => { console.error(err) })
  return;
  }
  $.notify("Senha Incorreta", "error")
}
</script>
