<div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Segunda Feira</h5>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table">
          <thead>
            <tr class="tr">
              <th class="th" scope="col">Nome</th>
              <th class="th" scope="col">Tipo</th>
              <th class="th" scope="col">Preço</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr class="tr">
              <td class="td">XPTO</td>
              <td class="td">XPTO</td>
              <td class="td">XPTO</td>
              <td class="td">XPTO</td>
              <td class="td">N/A</td>
              <td>
                <button type="submit"  class="btn btn-danger excluir-item" id="xpto" title="Excluir"><i id="xpto"class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>
