{% extends 'components/base.html' %}
{% block title %}Cadastrar Admin{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/adm_regs.css') }}">
{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
    <div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
<form id="form_adm" action="/register/new_adm/" method="POST" enctype="multipart/form-data">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" class="form-control" placeholder="Nome do Restaurante" type="text" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" class="form-control" placeholder="Email" type="email" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<input name="num"class="text" size="2" maxlength="2" required>
    	<input name="phone" class="form-control" placeholder="Telefone" type="text" maxlength="9" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input id="pwd1" name="pwd1" class="form-control" placeholder="Create password" type="password" onkeyup="check();" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input id="pwd2" name="pwd2" class="form-control" placeholder="Repeat password" type="password" onkeyup="check();" required>
    </div> <!-- form-group// -->
		<div class="form-group input-group">
					<span id='message' style="color: white;">Status da Senha</span>
		</div> <!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fas fa-map-pin"></i> </span>
			 </div>
					<input name="neigh" class="form-control" placeholder="Bairro" type="text" required>
		</div> <!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fas fa-map-pin"></i> </span>
			 </div>
					<input name="city" class="form-control" placeholder="Cidade" type="text" required>
		</div> <!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fas fa-map-pin"></i> </span>
			 </div>
					<input name="street" class="form-control" placeholder="Rua" type="text" required>
					<input name="num_street" class="text" placeholder="Nº" size="4" maxlength="4" required>
		</div> <!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fas fa-map-pin"></i> </span>
			 </div>
					<input name="comp" class="form-control" placeholder="Complemento" type="text">
		</div> <!-- form-group// -->
		<div class="form-group input-group">
				<input type="file" name="img" style="color: white;" required>
		</div>
		<h5>Horario de Abertura</h5>
		<div class="form-group input-group">
			<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-clock"></i></span>
			 </div>
					<input name="hora_aber" class="form-control" placeholder="Hora" type="time" required>
		</div> <!-- form-group// -->
		<h5>Horario de Fechamento</h5>
		<div class="form-group input-group">
			<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-clock"></i></span>
			 </div>
					<input name="hora_fech" class="form-control" placeholder="Hora" type="time" required>
		</div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" id="sbt_btn" class="btn login_btn btn-block" onclick="confirm_dialog()">Create Account</button>
    </div> <!-- form-group// -->
  </form>
</article>
</div> <!-- card.// -->
	</div>
</div>
{% include 'components/footer.html' %}
<script type="text/javascript">
	const urlParams = new URLSearchParams(window.location.search);
	qstr = urlParams.get('new_adm')
	if(qstr){
		if (qstr == "ok"){
			$.notify("Restaurante Criado com sucesso", "success")
		}
		else{
			$.notify(qstr, "error")
		}
	}
	var check = function() {
  if (document.getElementById('pwd1').value ==
    document.getElementById('pwd2').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Senhas Corretas';
		document.getElementById('sbt_btn').disabled = false;
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Senhas Incorretas';
		document.getElementById('sbt_btn').disabled = true;
  }
}
$('#form_adm').submit(function(event) {
	event.preventDefault();
	var form = $(this)[0];
	$.confirm({
		title: 'Confirmação',
		content: 'Confirmar Criação do seu restaurante?',
		buttons: {
			confirm: function () {
				form.submit();
			},
			cancel: function () {
				$.notify("Registro Cancelado", "error")
			}
		}
	});
});
</script>
{% endblock %}
</body>
