{% extends 'components/base.html' %}

{% block title %}EZ Food - Restaurantes{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/default_menus.css') }}">
{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<div class="container">
  <div class="row">
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inserir Novo Item</h5>
            <form class="form-group" action="/default_menus/new_item/" method="post">
              <div class="form-group">
                <input type="text" name="item" placeholder="Novo Item" maxlength="30" required>
              </div>
              <div class="form-group">
                <select class="form-control" id="dia" name="dia" required>
                  <option value="monday">Segunda-Feira</option>
                  <option value="tuesday">Terça-Feira</option>
                  <option value="wednesday">Quarta-Feira</option>
                  <option value="thursday">Quinta-Feira</option>
                  <option value="friday">Sexta-Feira</option>
                  <option value="saturday">Sábado</option>
                  <option value="sunday">Domingo</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" id="tipo" name="type" onchange="checkType()" required>
                  <option value="acomp">Acompanhamento (Marmitas)</option>
                  <option value="add">Adicional (Marmitas)</option>
                  <option value="drink">Bebida</option>
                  <option value="snack">Lanche</option>
                  <option value="pizza">Pizza</option>
                  <option value="main_plate">Prato Principal (Marmitas)</option>
                  <option value="other">Outro</option>
                  <option value="deserve">Sobremesa</option>
                </select>
              </div>
              <div class="form-group" id="preco_item" name="preco_item">
              </div>
              <div class="form-group">
                <button type="submit" class="btn login_btn">Cadastrar Item</button>
              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Segunda-Feira</h5>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                  <th class="th" scope="col">Dia</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in card %}
                {% if item.dia == 'Segunda-Feira' %}
                <tr class="tr">
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">R$ {{ item.preco }}</td>
                  {% else %}
                  <td class="td"></td>
                  {% endif %}
                  <td class="td">{{ item.dia }}</td>
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}" title="Excluir"><i id="{{ item.id }}"class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Terça-Feira</h5>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in card %}
                {% if item.dia == 'Terça-Feira' %}
                <tr class="tr">
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">R$ {{ item.preco }}</td>
                  {% else %}
                  <td class="td"></td>
                  {% endif %}
                  <td class="td">{{ item.dia }}</td>
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}" title="Excluir"><i id="{{ item.id }}"class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quarta-feira</h5>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in card %}
                {% if item.dia == 'Quarta-feira' %}
                <tr class="tr">
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">R$ {{ item.preco }}</td>
                  {% else %}
                  <td class="td"></td>
                  {% endif %}
                  <td class="td">{{ item.dia }}</td>
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}" title="Excluir"><i id="{{ item.id }}"class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quinta-Feira</h5>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in card %}
                {% if item.dia == 'Quinta-Feira' %}
                <tr class="tr">
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">R$ {{ item.preco }}</td>
                  {% else %}
                  <td class="td"></td>
                  {% endif %}
                  <td class="td">{{ item.dia }}</td>
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}" title="Excluir"><i id="{{ item.id }}"class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sexta-Feira</h5>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in card %}
                {% if item.dia == 'Sexta-Feira' %}
                <tr class="tr">
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">R$ {{ item.preco }}</td>
                  {% else %}
                  <td class="td"></td>
                  {% endif %}
                  <td class="td">{{ item.dia }}</td>
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}" title="Excluir"><i id="{{ item.id }}"class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sábado</h5>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in card %}
                {% if item.dia == 'Sábado' %}
                <tr class="tr">
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">R$ {{ item.preco }}</td>
                  {% else %}
                  <td class="td"></td>
                  {% endif %}
                  <td class="td">{{ item.dia }}</td>
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}"  title="Excluir"><i id="{{ item.id }}" class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Domingo</h5>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in card %}
                {% if item.dia == 'Domingo' %}
                <tr class="tr">
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">R$ {{ item.preco }}</td>
                  {% else %}
                  <td class="td"></td>
                  {% endif %}
                  <td class="td">{{ item.dia }}</td>
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}" title="Excluir"><i id="{{ item.id }}"class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	const urlParams = new URLSearchParams(window.location.search);
	qstr = urlParams.get('status')
  window.onload = function(){
    show_notify()


  }
  $(document).ready(function(){
    itens = document.getElementsByClassName('excluir-item')
    delete_itens(itens)
});

  function show_notify(){
    if(qstr == 'ok'){
      $.notify('Item inserido com sucesso', 'success')
    }
    if(qstr == 'error'){
      $.notify('Ocorreu um erro inesperado', 'error')
    }
    if(qstr == 'ok_del'){
      $.notify('Item deletado com sucesso', 'success')
    }
  }
  var preco_item = document.getElementById('preco_item')


  function checkType(){
    var with_prize = ["drink", "deserve", "other", "snack", "add", "pizza"]
    if(with_prize.includes(tipo.value)){
      preco_item.innerHTML = " \
      <label for='price'>R$</label> \
      <input type='text' name='price' placeholder='Valor' required>"

      return true
    }
    else {
      preco_item.innerHTML = ""
      return false
    }
  }

  function delete_itens(buttons_item){
    console.log(buttons_item)
    for(item of buttons_item){
      item.addEventListener('click', (e) => {
        let t = e.target;
        var id_to_send = t.id;

        $.confirm({
          title: 'Confirmação',
          content: 'Este cliente realmente pagou?',
          buttons: {
            confirm: function () {
              fetch('/menu/delete_item/', {
                method: 'post',
                credentials: 'include',
                body: JSON.stringify({
                  "id_to_send": id_to_send,
                  "tipo": "default"
                }),
                headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                  },
              }).then(response => response.json())
                .then(json =>{
                  if(json['result'] == 'error'){
                    $.notify("O item não pôde ser deletado", "error")
                  }
                  else{
                    document.location.reload()
                  }
                }).catch(err => { console.error(err) })
            },
            cancel: function () {
              return;
            }
          }
        });


      })
    }
  }
</script>
{% endblock %}
</body>
