<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Manticora</title>
      {% include 'components/base.html' %}
  </head>
  <body>
      {% include 'components/header.html' %}
      <div class="jumbotron">
        <h1 class="display-4">Seja Bem vindo</h1>
        <p class="lead">Este é o Manticora, uma aplicação para restaurantes</p>
        <hr class="my-4">
        <p>Com o Manticora, você pode gerenciar muito melhor seus pedidos e clientes, aproveite!</p>
        <p class="lead" style="text-align:center">
          <button type="button" class="btn btn-primary">Faça o Login</button>
          <button type="button" class="btn btn-success">Registe-se</button>
        </p>
      </div>
      {% include 'components/footer.html' %}
    </body>
</html>
