{% extends 'components/base.html' %}
{% block title %}EZ Food - Restaurantes{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<div class="container">
  <div class="row mb-4" id="first_row">
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inserir Novo Item</h5>
            <form class="form-group" action="/menu/" method="post">
              <div class="form-group">
                <input type="text" name="item" placeholder="Novo Item" maxlength="30" required>
              </div>
              <div class="form-group">
                <input id="datepicker1" name="day" width="276" placeholder="Dia" required/>
              </div>
              <div class="form-group">
                <select class="form-control" id="tipo" name="type" onchange="checkType()" required>
                  <option value="main_plate">Prato Principal</option>
                  <option value="acomp">Acompanhamento</option>
                  <option value="drink">Bebida</option>
                  <option value="deserve">Sobremesa</option>
                  <option value="add">Adicional</option>
                  <option value="other">Outro</option>
                </select>
              </div>
              <div class="form-group" id="preco_item" name="preco_item">
              </div>
              <div class="form-group">
                <button type="submit" class="btn login_btn">Cadastrar Item</button>
              </div>
            </form>
            <form action="/default_menus/" method="get">
              <input type="submit" class="btn login_btn" value="Criar cardápios padrão" name="Submit" id="frm1_submit"/>
            </form>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inserir Nova Marmita</h5>
            <form class="form-group" action="/menu/new_size/" method="post">
              <div class="form-group">
                <label for="size">Tamanho</label>
                <input type="text" name="size" maxlength="1" size="1" required>
              </div>
              <div class="form-group">
                <label for="price">R$</label>
                <input type="text" name="price" placeholder="Valor" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn login_btn">Criar nova Marmita</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2 style="text-align: center;">Seu Cardápio</h2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pesquisar por dia</h5>
        <form class="form-group" action="/menu/" method="get">
          <input id="datepicker" name="day" width="276" />
          <br>
          <div class="form-group">
              <button type="submit" class="btn login_btn" name="item">Pesquisar</button>
          </div>
        </form>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
              <thead>
                <tr class="tr">
                  <th class="th" scope="col">Dia</th>
                  <th class="th" scope="col">Nome</th>
                  <th class="th" scope="col">Tipo</th>
                  <th class="th" scope="col">Preço</th>
                </tr>
              </thead>
              <tbody class="tbody">
                {% for item in items %}
                <tr class="tr">
                  <td class="td">{{ item.dia }}</td>
                  <td class="td">{{ item.prato }}</td>
                  <td class="td">{{ item.tipo }}</td>
                  {% if item.preco %}
                  <td class="td">{{ item.preco }}</td>
                  {% else %}
                  <td class="td">N/A</td>
                  {% endif %}
                  <td>
                    <button type="submit"  class="btn btn-danger excluir-item" id="{{ item.id }}" title="Excluir"><i id="{{ item.id }}"class="fas fa-trash"></i></button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h2 style="text-align: center;">Marmitas Disponíveis</h2>
        <div class="card">
          <div class="card-body">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table">
                <thead>
                  <tr class="tr">
                    <th class="th" scope="col">Tamanho</th>
                    <th class="th" scope="col">Preço</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  {% for item in marmitas %}
                  <tr class="tr">
                    <td class="td">{{ item.tamanho }}</td>
                    <td class="td">R$ {{ item.preco }}</td>
                    <td>
                      <button type="submit" id="{{ item.id }}"  class="btn btn-danger excluir-marm" title="Excluir"><i id="{{ item.id }}" class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
	const urlParams = new URLSearchParams(window.location.search);
  $('#datepicker').datepicker({
    uiLibrary: 'bootstrap4'
});
  $('#datepicker1').datepicker({
    uiLibrary: 'bootstrap4'
  });
  qstr = urlParams.get('insertion')
    if (qstr && qstr !== 'Erro'){
      $.notify("Item inserido no cardápio", "success")
    }
    if (qstr == 'Erro'){
      $.notify("Houve um erro inesperado, tente novamente", "error")
    }

    buttons_marm = document.getElementsByClassName('excluir-marm')
    buttons_item = document.getElementsByClassName('excluir-item')

    for(item of buttons_marm){
      item.addEventListener('click', (e) => {
        let t = e.target;
        var id_to_send = t.id;

        $.confirm({
          title: 'Confirmação',
          content: 'Este cliente realmente pagou?',
          buttons: {
            confirm: function () {
              fetch('/menu/delete_marm/', {
                method: 'post',
                credentials: 'include',
                body: JSON.stringify({
                  "id_to_send": id_to_send
                }),
                headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                  },
              }).then(response => response.json())
                .then(json =>{
                  if(json['result'] == 'error'){
                    $.notify("O item não pôde ser deletado", "error")
                  }
                  else{
                    document.location.reload()
                  }
                }).catch(err => { console.error(err) })
            },
            cancel: function () {
              return;
            }
          }
        });
      })
    }

    for(item of buttons_item){
      item.addEventListener('click', (e) => {
        let t = e.target;
        var id_to_send = t.id;

        $.confirm({
          title: 'Confirmação',
          content: 'Este cliente realmente pagou?',
          buttons: {
            confirm: function () {
              fetch('/menu/delete_item/', {
                method: 'post',
                credentials: 'include',
                body: JSON.stringify({
                  "id_to_send": id_to_send
                }),
                headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                  },
              }).then(response => response.json())
                .then(json =>{
                  if(json['result'] == 'error'){
                    $.notify("O item não pôde ser deletado", "error")
                  }
                  else{
                    document.location.reload()
                  }
                }).catch(err => { console.error(err) })
            },
            cancel: function () {
              return;
            }
          }
        });


      })
    }

    var tipo = document.getElementById('tipo');
    var preco_item = document.getElementById('preco_item')

    function checkType(){
      var with_prize = ["drink", "deserve", "other", "snack", "add"]
      if(with_prize.includes(tipo.value)){
        preco_item.innerHTML = " \
        <label for='price'>R$</label> \
        <input type='text' name='price' placeholder='Valor' required>"

        return true
      }
      else {
        preco_item.innerHTML = ""
        return false
      }
    }

</script>
{% endblock %}
</body>
