{% extends 'components/base.html' %}
{% block title %}EZ Food - Restaurantes{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/requests.css') }}">
{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body" id="addr">
          <h5 class="card-title">Pedidos dos Clientes (Apenas no dia de hoje)</h5>
          {% if requests %}
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table">
            <tbody>
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Itens</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              {% for item in requests %}
              <tr>
                <td>{{ item.conta.usuario.nome }}</td>
                <td>{{ item.itens.replace('[', '').replace(']', '').replace('\'', '') }}</td>
                <td class="status">{{ item.status }}</td>
                <td>
                  <form class="form-group meu_form" action="/restaurants/requests/change_status/" method="post">
                    <input type="hidden" name="frente" value="{{ item.id }}" />
                    {% if item.status == 'Enviado' %}
                    <button type="submit"  class="btn btn-success estado" title="Avançar Estado" disabled><i class="fas fa-arrow-right"></i></button>
                    {% else %}
                    <button type="submit"  class="btn btn-success estado" title="Avançar Estado"><i class="fas fa-arrow-right"></i></button>
                    {% endif %}
                  </form>
                </td>
                <td>
                  <button type="button" value="{{ item.conta.usuario.id }}" class="btn login_btn usuario" title="Avançar Estado">Visualizar Cliente</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
          {% else %}
          <p>Ainda não há pedidos</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body" id="addr">
          <h5 class="card-title">Dados do usuario</h5>
          <div class="usuario_data" id="usuario_data">
            <p>Por favor, selecione um cliente ao lado</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  let status = document.getElementsByClassName('status');
  let buttons = document.getElementsByClassName('usuario');
  let estado = document.getElementsByClassName('estado');
  let meu_form = document.getElementsByClassName('meu_form')
  let table = document.getElementById('usuario_data');

    for(item of status){
      if(item.textContent == 'Aguardando Confirmação'){
        item.className = "status yellow"
      }
      else if(item.textContent == 'Enviado'){
        item.className = "status green"
      }
      else {
        item.className = "status yellow"
      }
    }

    for(item of buttons){
      item.addEventListener('click', (e) => {
        let t = e.target;
        var id_to_send = t.value;

        fetch('/account/user_data/', {
          method: 'post',
          credentials: 'include',
          body: JSON.stringify({
            "id_to_send": id_to_send
          }),
          headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }).then(response => response.json())
          .then(json =>{
            if(json['result'] == 'error'){
              $.notify("Erro, tente mais tarde", "error")
            }
            else{
              table.innerHTML = ""
              table.innerHTML = json['result']
            }
          }).catch(err => { console.log(err) })
      })
    }
    const urlParams = new URLSearchParams(window.location.search);

    qstr = urlParams.get('upd')

    if(qstr == 'ok'){
      $.notify('Pedido Atualizado!', 'success')
    }
    else if (qstr) {
      $.notify("Erro", 'error')
    }

    for(item of meu_form){
      $(item).submit(function(event) {
        event.preventDefault();
        var form = $(this)[0];
        $.confirm({
          title: 'Confirmação',
          content: 'Este cliente realmente pagou?',
          buttons: {
            confirm: function () {
              form.submit();
            },
            cancel: function () {
              $.notify("Pedido Cancelado", "error")
              return;
            }
          }
        });
      });
    }
</script>
{% endblock %}
</body>
