{% extends 'components/base.html' %}
{% block title %}Manticora - Restaurantes{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/restaurants.css') }}">
{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-inline" action="/restaurants/" method="GET">
      <input class="form-control py-2" type="search" value="Procurar Restaurante" name="search_rest">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">
            <i class="fa fa-search"></i>
        </button>
      </span>
    </form>
    <form class="form-inline" action="/restaurants/" method="GET">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="filter_radio" id="open1" value="open" checked>
        <label class="form-check-label" for="open1">
          Restaurantes Abertos
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="filter_radio" id="open2" value="closed">
        <label class="form-check-label" for="open2">
          Restaurantes Fechados
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="filter_radio" id="all" value="all">
        <label class="form-check-label" for="all">
          Todos
        </label>
      </div>
      <div class="col form-group">
        <label for="sel1">Cidade</label>
          <select class="form-control" id="sel1" name="sel1">
              <option value="todos">Todos</option>
              {% for item in citys %}
              <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
          </select>
            <button class="form-control" type="submit" id="btn_filter" name="filter">Filtrar</button>
      </div>
    </form>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-4">
      <h1>Restaurantes</h1>
      {% for item in rests %}
      <div class="card">
        <div class="card-body">
          <div class="row row-rest">
            <div class="col col-no-border">
              <br>
              <button type="submit" id="{{ item[1].id }}" value="{{ item[1].id }}" class="btn btn-primary btn-send-fetch" >{{item[0]}}</a>
            </div>
              <img src="data:;base64,{{ item[1].imagem }}" class="img-fluid">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-8" id="cardapio_area">
    </div>
  </div>
</div>
{% include 'components/footer.html' %}
<script type="text/javascript">
  btn_fetch = document.getElementsByClassName('btn-send-fetch')

  for(var item of btn_fetch){
    item.addEventListener('click', (e) => {
      let t = e.target;
      var id_to_send = t.value;
      console.log(id_to_send)

      fetch('/restaurants/', {
        method: 'post',
        credentials: 'include',
        body: JSON.stringify({
          "id_to_send": id_to_send
        }),
        headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
          },
      }).then(response => response.json())
        .then(json =>{
          if(json['cardapio'] == 'no_card'){
            $.notify("O Restaurante Ainda não disponibilizou o cardápio", "error")
          }
          else{
            document.getElementById('cardapio_area').innerHTML = ""
            document.getElementById('cardapio_area').innerHTML = json['cardapio']
          }
        }).catch(err => { console.error(err) })
    })
  }
</script>
{% endblock %}
</body>
