{% extends 'components/base.html' %}
{% block title %}Manticora - Restaurantes{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_index.css') }}">
{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="container" id="address">
          <h5>Seu Endereço</h5>
          <p>Nome: {{ current_user.nome }}</p>
          <p>Email: {{ current_user.email }}</p>
          <br></br>
          <p>Cidade: {{ current_user.cidade }}</p>
          <p>Bairro: {{ current_user.bairro }}</p>
          <p>Rua: {{ current_user.rua }}</p>
          <p>Numero: {{ current_user.numero }}</p>
          <p>Complemento: {{ current_user.complemento }}</p>
          <a href="#" id="ch_addr" onclick="change_addr()" class="btn btn-primary">Alterar Endereço</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" id="pedidos">
      <div class="card-body">
        <h5 class="card-title">Realize um Pedido</h5>
        <p class="card-text">com fome? os restaurantes estão aguardando seu pedido :3</p>
        <a href="/restaurants/" class="btn btn-primary">Realizar Pedido</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" id="conta">
      <div class="card-body">
        <h5 class="card-title">Conta</h5>
        <p class="card-text">Vizualize quanto vc está devendo aos restaurantes. Cuidado, não exagere no consumo ^^ </p>
        <a href="/account/" class="btn btn-primary">Vizualizar sua tragédia :/</a>
      </div>
    </div>
  </div>
</div>
{% include 'components/footer.html' %}
<script type="text/javascript">
  older_html = document.getElementById('address').innerHTML;
  let cancel_addr = () => {
    document.getElementById('address').innerHTML = "";
    document.getElementById('address').innerHTML = older_html;
  }

  let change_addr = () => {

    var full_div = " \
    <form class='form-group' id='meu_form' action='/register/alter_user/' method='post'> \
      <p>Nome: {{ current_user.nome }}</p> \
      <p>Email: {{ current_user.email }}</p> \
      <p>Cidade: <input type='text' name='city_in' /></p> \
      <p>Bairro: <input type='text' name='neigh_in' /></p> \
      <p>Rua: <input type='text' name='street_in' /></p> \
      <p>Numero: <input type='text' name='number_in' maxlength='4' /></p> \
      <p>Complemento: <input type='text' name='comp_in' /></p><br> \
      <div class='btn-group'> \
        <button type='submit' id='confirm_new' onclick='confirm_dialog()' class='btn btn-primary'>Confirmar</button> \
        <button type='button' id='cancel' onclick='cancel_addr()'class='btn btn-primary'>Cancelar</button> \
      </div> \
    </form> "

    document.getElementById('address').innerHTML = full_div
  }

  let confirm_dialog = () =>{
      $('#meu_form').submit(function(event) {
        event.preventDefault();
        var form = $(this)[0];
        $.confirm({
          title: 'Confirmação',
          content: 'Deseja Realmente alterar o endereço?',
          buttons: {
            confirm: function () {
              form.submit();
            },
            cancel: function () {
              $.notify("A alteração de endereço foi cancelada!", "error")
              cancel_addr()
            }
          }
        });
      });
  }
  const urlParams = new URLSearchParams(window.location.search);

  qstr = urlParams.get('upd')
  if(qstr == 'ok'){
    $.notify('Endereço Atualizado com sucesso', 'success')
  }
  else if (qsrt) {
    $.notify('Ocorreu um erro inesperado', 'error')
  }
</script>
{% endblock %}
</body>
