{% extends 'components/base.html' %}
{% block title %}EZ Food - Restaurantes{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/requests.css') }}">
{% endblock %}
{% block content %}
{% include 'components/header.html' %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body" id="addr">
          <h5 class="card-title">Seus pedidos efetuados</h5>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
          {% if requests %}
          <table class="table">
            <tbody>
              <thead>
                <tr>
                  <th scope="col">Data</th>
                  <th scope="col">Restaurante</th>
                  <th scope="col">Itens</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              {% for item in requests %}
              <tr>
                <td>{{ item.data.date() }}</td>
                <td>{{ item.conta.restaurante.adm.nome }}</td>
                <td>{{ item.itens }}</td>
                <td>{{ item.valor }}</td>
                <td class="status">{{ item.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>Você não fez nenhum pedido.</p>
          {% endif %}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% include 'components/footer.html' %}
<script type="text/javascript">
  let status = document.getElementsByClassName('status');
  let buttons = document.getElementsByClassName('usuario');
  let estado = document.getElementsByClassName('estado');
  let meu_form = document.getElementsByClassName('meu_form')
  let table = document.getElementById('usuario_data');

    for(item of status){
      if(item.textContent == 'Aguardando Confirmação'){
        item.className = "status yellow"
      }
      else if(item.textContent == 'Enviado'){
        item.className = "status green"
      }
      else {
        item.className = "status yellow"
      }
    }

    for(item of buttons){
      item.addEventListener('click', (e) => {
        let t = e.target;
        var id_to_send = t.value;

        fetch('/account/user_data/', {
          method: 'post',
          credentials: 'include',
          body: JSON.stringify({
            "id_to_send": id_to_send
          }),
          headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }).then(response => response.json())
          .then(json =>{
            if(json['result'] == 'error'){
              $.notify("Erro, tente mais tarde", "error")
            }
            else{
              table.innerHTML = ""
              table.innerHTML = json['result']
            }
          }).catch(err => { console.log(err) })
      })
    }
    const urlParams = new URLSearchParams(window.location.search);

    qstr = urlParams.get('upd')

    if(qstr == 'ok'){
      $.notify('Endereço Atualizado com sucesso', 'success')
    }
    else if (qstr) {
      $.notify("Erro", 'error')
    }

    for(item of meu_form){
      $(item).submit(function(event) {
        event.preventDefault();
        var form = $(this)[0];
        $.confirm({
          title: 'Confirmação',
          content: 'Este cliente realmente pagou?',
          buttons: {
            confirm: function () {
              form.submit();
            },
            cancel: function () {
              $.notify("Pedido Cancelado", "error")
              return;
            }
          }
        });
      });
    }
</script>
{% endblock %}
</body>
