.container {
  height: 100%;
  align-content: center;
  margin-top: 9%;
}

h5, h1, h4, h3, h2, p{
    color: white;
}

.row {
  position: relative;
}

.img-fluid {
  width: 90px;
}

.green {
  color: green;
}

.red {
  color: red;
}



.card {
  width: 100%;
  margin: 4%;
  height: auto;
  background-color: rgba(0,0,0,0.5);
}

.card-text{
  position: absolute;
  top: 67%;
  color: white;
}

.card-title {
  position: absolute;
  top: 61%;
  color: white;
}

.card-text{
  position: absolute;
  top: 67%;
  color: white;
}

.card-title {
  position: absolute;
  top: 0%;
  color: white;
}

.card-body {
  margin-top: 10%;
}
