html, body{
background-image: url("../pics/fundo.png");
background-repeat: repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}


.table-wrapper-scroll-y {
  position: relative;
  height: 700px;
  overflow: auto;
}

.my-custom-scrollbar {
  display: block;
}

.login_btn{
color: black;
background-color: #FFC312;
width: auto;
margin: 4px;
border-radius: 10px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.btn-card {
  position: absolute !important;
  top: 88% !important;
}
