html, body{
background-image: url("../pics/fundo.png");
background-repeat: repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}


.table-wrapper-scroll-y {
  position: relative;
  height: 700px;
  overflow: auto;
}

.container {
  height: auto !important;
}

.card {
-webkit-box-shadow: 0px 0px 15px 2px black;
-moz-box-shadow: 0px 0px 15px 2px black;
box-shadow: 0px 0px 15px 2px black;
}

.my-custom-scrollbar {
  display: block;
}

.login_btn{
color: black;
background-color: #FFC312;
width: auto;
margin: 4px;
border-radius: 10px;
}

.card-mark{
  margin-top: 5% !important;
  height: auto !important;
  width: auto !important;
}

.login_btn:hover{
color: black;
background-color: white;
}

.btn-card {
  position: absolute !important;
  top: 88% !important;
}
