
.navbar_css{
  background-color: rgba(0, 0, 0, .7) !important;
  height: 10%;
}

.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 999;
}

#logout {
  position: absolute;
  right: 3%;
}
