.navbar{
  background-color: #0652DD
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: #e9ecef;
    color: white;
    text-align: center;
}

html{
  background-color: #e9ecef;
}

.jumbotron {}
