.container{
top: 10%;
}

.row {
  margin-top: 100px;
  align-self: center;
}

.col-no-border {
  border-style: none !important;
}

.img-col {
  right: 0px !important;
}

.row-rest {
  position: absolute;
  width: 100%;
  top: 0px;
  margin-top: 0px !important;
}

.img-fluid{
  top: 0px;
  height: 75px;
  right: 0px;
  width: auto;
}

#form_btn {
  margin-left: 20px;
}

.py-2, .btn-outline-secondary {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  color: white;
  margin-bottom: 10px;
}

.form-group {
  margin-top: 10px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  color: white;
}

label {
  color: white;
  margin: 5px;
}

#btn_filter {
  margin-left: 20px;
}

.btn-send-fetch{
  width: 100%;
}

.green {
  color: green;
}

.red {
  color: red;
}

h5, h1, h4, h3, h2, p, td, th, tr{
    color: white;
}

th {
  border: 0px !important;
  color: yellow;
}

.card {
  width: 100%;
  margin: 4%;
  height: auto;
  background-color: rgba(0,0,0,0.5);
}

.card-text{
  position: absolute;
  top: 67%;
  color: white;
}

.card-text{
  position: absolute;
  top: 67%;
  color: white;
}

.card-title {
  position: absolute;
  top: 2%;
  color: white;
}

.card-body {
  margin-top: 10%;
}
