.container{
height: 100%;
top: 10%;
align-content: center;
}

.row {
  margin-top: 100px;
  align-self: center;
}

.col {
  border-style: dashed;
  margin-right: 30px;
}

.col-no-border {
  border-style: none !important;
}

.img-col {
  right: 0px !important;
}

.card{
height: 80px;
margin: 5px;
width: 100%;
background-color: rgba(0,0,0,0.5) !important;
}

.card-body {
  height: 70px;
  margin: 5px;
  width: 100%;
}

.row-rest {
  position: absolute;
  width: 100%;
  top: 0px;
  margin-top: 0px !important;
}

.img-fluid{
  top: 0px;
  height: 75px;
  right: 0px;
  width: auto;
}

#form_btn {
  margin-left: 20px;
}

.py-2, .btn-outline-secondary {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  color: white;
  margin-bottom: 10px;
}

.form-group {
  margin-top: 10px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  color: white;
}
