/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

#my_footer{
  background-color: rgba(0, 0, 0, .7);
  height: 10%;
}

#pedidos {
  background-image: url("../pics/comida.jpg");
  position: absolute;
  height: 60%;
  background-repeat:no-repeat;
}

#conta {
  background-image: url("../pics/conta.jpg");
  position: absolute;
  height: 60%;
  background-repeat:no-repeat;
}

.row {
  margin-top: 100px;
  align-self: center;
}

.container{
align-content: center;
height: 100%;
}

.card {
  width: 25% !important;
  margin: 4% !important;
  height: 550px !important;
  background-color: rgba(0,0,0,0.5) !important;
}

.btn-primary {
  position: absolute;
  top: 88%;
  left: 10%;
}

h5, h1, h4, h3, p{
    color: white;
}


label {
  color: white;
  margin: 5px;
}
